<div>
  <h5>User location details</h5>
    <p>Hello user,</p>
    <p>your Site location is {{ city }} {{ country }} . </p>
    <p>and the current time for the location is :  <b> {{ time }} .</b> </p>
</div>
